@charset "utf-8";
/* 共用css */
* { margin: 0; padding: 0 }
body { font: 14px "微软雅黑", Arial, Helvetica, sans-serif; background: url(../images/timg.jpg) no-repeat center top #FAFAE9 !important; color: #fff}
img { border: 0; display: block }
ul, li { list-style: none; }
/*默认链接颜色 */
a:link, a:visited, a:active { text-decoration: none; color: #46632b }
a:hover { text-decoration: none; color: #46632b; }
.clear { clear: both; }
.clear-by-after:after{content: '';display: block;clear: both}
.blank { height: 8px; overflow: hidden; width: 100%; margin: auto; clear: both }
.f_l { float: left }
.f_r { float: right }
/* header */
header, article, footer { margin: auto; }
.logo { margin: 40px 0;font-size: 40px;color: #ec4942}
.topnav { margin-bottom: 40px }
.topnav .navbar-nav a { position: relative; display: inline-block; font-size: 18px; margin-right: 30px;color:salmon;line-height:30px;padding:0px;color: salmon !important;font-weight: bold;text-shadow: 2px 2px 5px #46632b }
.topnav .navbar-nav a :hover{}


.topnav a span:first-child { z-index: 2; display: block; }
.topnav a span:last-child { z-index: 1; display: block;  opacity: 0; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%); text-align: center ;color:#46632b }
.topnav a:hover span:last-child, .topnav a:focus span:last-child { opacity: 1; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); transform: translateY(0%); }

@media (max-width: 768px) {
    .topnav .navbar-toggle{width: 200px;}
    .navbar-default .navbar-toggle{
        background: none;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background: none !important;
        box-sizing: border-box;
        border: 2px solid salmon;
    }
    .topnav .navbar-default,.topnav .navbar-collapse{
        border: none !important;
    }
    .topnav a span:first-child{font-size:20px}
    .topnav a span:last-child { margin-top: -0px;z-index: 1; display: block;  opacity: 0; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); transform: translateX(-100%); text-align: center ;color:#46632b }
    .topnav a:hover span:last-child, .topnav a:focus span:last-child { opacity: 1; -webkit-transform: translateX(20%); -moz-transform: translateX(20%); transform: translateX(20%);}

}
.en { color: #fff; font-size: 12px; z-index: 1; display: block; }/* ie */
article { background: url(../images/articlebg.png) repeat; }
article .container { background: url(../images/articlebg.png) repeat; overflow: hidden; margin: 20px; box-shadow: #46632b 0px 1px 10px; }
footer { text-align: center; padding: 20px 0;color: salmon}
.page{ margin:20px 0 ; text-align:center; width:100%;overflow: hidden;}
.page a b {color: #aee1ff;}
.page>b,.page a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 50%;width: 26px;text-align: center;display: inline-block}
.page a {margin: 0 2px;height: 26px;line-height: 26px;border-radius: 50%;width: 26px;text-align: center;display: inline-block}/* 针对IE6 */
.page>b,.page a:hover{color: salmon;cursor: pointer}
.page .curpage{background: skyblue;color:white}
.page a {color: #aee1ff;border: #89c9ef 1px solid}
.ctitle{ position:relative}
.ctitle b{font-size: 22px; margin-bottom: 20px; background: #46632b; padding: 10px 0; width: 200px; text-align: center; border-radius: 0 30px 30px 0; box-shadow: #46632b 1px 1px 1px; border-left: #dae1e4 6px solid; display:block; margin:30px 0 0 30px}
.ctitle span{ float:right; font-size:14px; position:absolute; right:20px ; top:20px;text-shadow: rgba(7, 84, 152, 0.71) 1px 1px 1px;}