@charset "utf-8";
.container {  color: seagreen;  padding: 20px;  }
article header{  width: 100%;  display: flex;  justify-content: space-between;  }
article header span{ margin-top: 30px }
article header h2{  font-size: 40px; }
article nav{ width: 100%;margin: 16px}
article nav a{  font-size: 12px;  margin:0 4px;  color:#EB746D ;  }
main{background:rgba(131,175,155,0.2) ;  min-height: 500px;  font-size: 16px;}
main img{display: inline}
