@charset "utf-8";


@media (min-width: 1000px) {
    .cbp_tmtimeline > li .cbp_tmlabel{
        margin-left: -70px;
        width: 80%;
    }
}
/* blog */
.blog { margin: 30px 20px; overflow: hidden }
.blog figure {    float: left; overflow: hidden; }
.blog figure img { overflow: hidden;transition:all 1s;width: 100%;height: 100%}
.blog figure img:hover{transform: scale(1.1)}
.blog figure p { font-size: 14px; text-shadow: #fff 1px 1px 0px; line-height: 26px; text-align: center; font-weight: bold }
.blog figure p a { color: #226039; }
.blog figure figcaption { padding: 10px; line-height: 22px; color: #666; }
.blog figure ul { background:  no-repeat center; overflow: hidden; margin-bottom: 20px }
.blog figure ul span { opacity: 0 }
.blog figure ul:hover span { opacity: 1 }
.blog figure ul a { position: relative; display: block }
.blog figure ul span { position: absolute; left: 0px; top: 0px; background: rgba(0,0,0,0.5)  no-repeat center 10px; color: #FFF; display: block; width: 100%; height: 100%; line-height: 256px; text-align: center; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s; text-decoration: underline }
/* cbp_tmtimeline */
.cbp_tmtimeline { margin: 30px 0 0 0; padding: 0; list-style: none; position: relative;transition:all 2s;left: 0  }
.cbp_tmtimeline:before { content: ''; position: absolute; top: 0; bottom: 0; width: 5px; background: #c0d592; left: 158px; margin-left: -10px; }
.cbp_tmtimeline > li { position: relative; }
.cbp_tmtimeline > li .cbp_tmtime { display: block; width: 140px;  position: absolute;  }
.cbp_tmtimeline > li .cbp_tmtime span { display: block; text-align: right; }
.cbp_tmtimeline > li .cbp_tmtime span:first-child { font-size: 16px; color: #bdd0db; }
.cbp_tmtimeline > li .cbp_tmtime span:last-child { color: #c0d592; }
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child { color: #c0d592; }
.cbp_tmtimeline > li .cbp_tmlabel { background: salmon; color: white; padding: 2em; position: relative; border-radius: 5px;margin-bottom: 20px; }
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel { background: #c0d592; }
.cbp_tmtimeline > li .cbp_tmlabel h2 { margin-top: 0px; padding: 0 0 20px 0; font-size: 20px; text-shadow: rgba(62, 152, 69, 0.71) 1px 1px 1px; }
.cbp_tmtimeline > li .cbp_tmlabel:after { right: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-right-color: salmon; border-width: 10px; top: 10px; }
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after { border-right-color: #c0d592; }
.cbp_tmtimeline > li .cbp_tmicon { width: 10px; height: 10px; font-family: 'ecoico'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; font-size: 1.4em; line-height: 40px; -webkit-font-smoothing: antialiased; position: absolute; color: #fff; background: salmon; border-radius: 50%; box-shadow: 0 0 0 3px #c0d592; text-align: center; left: 170px; top: 15px; margin: 0 0 0 -10px; }
.blogpic { width: 200px; height: 120px; overflow: hidden; display: block; float: left; margin-right: 20px; }
.blogpic img { width: 100%; height: auto; margin: auto; }
.cbp_tmtimeline > li:nth-child(odd) a.readmore{ background: #46632b; color: #fff; padding: 5px 10px; float: right; border-radius: 5px;bottom: 20px;position: absolute;right: 10px }
.cbp_tmtimeline > li:nth-child(even) a.readmore{ background: #ec4942; color: #fff; padding: 5px 10px; float: right; border-radius: 5px;position: absolute;right: 10px;bottom: 20px }
.cbp_tmtimeline li .cbp_tmtime { -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; }
.cbp_tmtimeline li:hover .cbp_tmicon { box-shadow: 0 0 0 3px #ececec; }
.cbp_tmtimeline li:hover .cbp_tmtime { background: salmon; border-radius: 20px 0 0 20px; }
.cbp_tmtimeline li:hover .cbp_tmtime span { color: #fff; }
.cbp_tmtimeline #changeBox{opacity: 0;position: absolute;right:0;font-size: 40px;z-index: 999;top:0;background: #ec4942;padding: 0 20px;transition:all .5s;top: 1% ;border-radius: 7px}

.cbp_tmtimeline #changeBox:hover{padding: 0 30px}
.cbp_tmtimeline #changeBox span{color:#d4d4d4;text-shadow: 0px 2px 5px #999 }
.cbp_tmtimeline #changeBox span:hover{color:white;text-shadow: 0px 2px 5px #999 }
.cbp_active{left: -100%}
.cbp_tmtimeline #echart{left: 102%;  position: absolute;   height: 800px;  width: 100%;   }
.border{
    border: 4px solid seagreen;
}
#gifbox{  margin-top: 50px;  }
#gifbox:hover #controlbox{  opacity: 1;  }
#controlbox{
    opacity: 0;
    width: 60%;
    margin: auto;
    background: radial-gradient(80px at 40% 0px,white,#ccc);
    border-radius: 14px;
    box-shadow: 2px 2px 2px black;
    transition: all 1s ;

}
#controlbox ul{
    padding: 0;
    margin:20px 0;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
#controlbox ul li{
    font-size: 28px;
    text-shadow: 3px 3px 2px #999;
    cursor: pointer;
    user-focus: none;
}
#controlbox ul li:active{
    text-shadow: 1px 1px 2px #999;
}
@keyframes domove {
    0%{
        transform: translate(240%);
    }
    50%{
        transform: translate(0%);
    }
    50.5%{
        transform: translate(0%) rotatey(180deg);
    }
    99.5%{
        transform: translate(240%) rotatey(180deg);
    }
    100%{
        transform: translate(240%);
    }
}

.domove{
    animation: cPic .5s ease-in-out infinite , domove 5s ease-in-out infinite ;
}